<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>

<body>
    <h1>Estou na minha página artigos</h1>
    <form id="artigo">
        <input type="text" name="titulo" id="titulo" placeholder="Título"> <br>
        <input type="text" name="descricao" id="descricao" placeholder="Descrição"> <br>
        <input type="password" name="autor" id="autor" placeholder="Autor"> <br>
        <button id="enviarSQL">Enviar</button>
    </form>

    <h3>Requisição Assíncrona</h3>
    <p id='requisicao'></p>
    <button onclick="pegarDados()">Pegar</button>
</body>
<script>
    function pegarDados() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                document.getElementById("requisicao").innerHTML = xhttp.responseText;
            }
        };
        xhttp.open("GET", "/dados", true);
        xhttp.send();
    }
</script>

</html>